
:root{
    --nunito-font: 'Nunito', sans-serif;
    --rubik-font: 'Rubik', sans-serif;
    --primary-color: #091E3E;
    --secondary-color: #FFFFFF;
    --accent-color: #06A3DA;
    --accent-hover-color: #2BB1E0;
    --theme-color: #6B6A75;
    --accent-v2: #EEF9FF;
    --primary-v2: #061429;
    --over-lay-color: rgba(9, 30, 62, .7);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* common class */
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nunito-font{
    font-family: var(--nunito-font);
}
.rubik-font{
    font-family: var(--rubik-font);
}
.primary-color{
    color: var(--primary-color);
}
.primary-bg{
    background-color: var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}
.secondary-bg{
    background-color: var(--secondary-color);
}
.accent-color{
    color: var(--accent-color);
}
.accent-bg{
    background-color: var(--accent-color);
}
.theme-color{
    color: var(--theme-color);
}
.accent-v2-bg{
    background-color: var(--accent-v2);
}
.primary-v2-bg{
    background-color: var(--primary-v2);
}

/* -/common class */


/* lodar */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 117, 27, 0.462);
    transition: opacity 0.75s, visibility 0.78s;
    z-index: 1500;
}
.loader--hiden{
    opacity: 0;
    visibility: hidden;
}

.lodar--none{
    display: none;
}
.loader::after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
   
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    
}
/* -/lodar */

/* search */

.pop-search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--over-lay-color);
    transition: opacity 0.75s, visibility 0.78s;
    z-index: 1300;
}
.search{
    max-width: 600px;
}
.search input.form-control{
    font-size: 16px;
    padding: 16px;
}
.search input.form-control:focus{
    box-shadow: none;
    color: var(--theme-color);
}
.search button.input-group-text{
    padding: 6px 24px;
}
#close-search{
    top: 10px;
    right: 10px;
}
/* -/search */

/* header */
.contact-info,.social-icon-box{
    height: 45px;
}
.contact-info a{
    font-size: 1rem;
}
.contact-info a:hover{
    color: var(--secondary-color);
}
.social-icon-box a i{
    font-size: 1rem;
}
.social-icon-box a{
    width: 30px;
    height: 25px;
    border: 1px solid var(--secondary-color);
    transition-duration: 0.5s;
}
.social-icon-box a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar-brand h1{
    font-size: 2.7rem;
    font-weight: 800;
}
#navbarSupportedContent{
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1000;
    background-color: var(--secondary-color);
    padding: 20px;
}
.navbar .navbar-nav .nav-link{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
    transition-duration: 1s;
    position: relative;
}

.navbar .navbar-nav .nav-link:hover,.navbar .navbar-nav .nav-link:focus{
    color: var(--accent-hover-color);
}

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .show > .nav-link{
    color: var(--accent-color);
}
.dawnload-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 24px;
    position: relative;
}
.dawnload-btn::before,.left-btn::before{
    content: '';
    background-color: var(--accent-hover-color);
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    transition-duration: 0.7s;
    
}
.dawnload-btn:hover::before,.left-btn:hover:before{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.dawnload-btn span,.left-btn span{
    position: relative;
    z-index: 1;
}
.navbar-toggler{
    height: max-content;
    width: max-content;
}
.navbar .navbar-toggler{
    color: var(--accent-hover-color);
    border: 1px solid var(--accent-hover-color);
}
.navbar-toggler i{
    padding: 4px 6px;
    
}

.carousel-section{
    
    height: 100vh;
        /* max-height: 600px;
        min-height: 400px; */
}

.slide-content{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.is-active.is-visible p{
    animation-name: top-botom;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes top-botom {
    0%   {top:-30px;opacity: 0;}
    100% {top:0px;opacity: 1;}
  }

.is-active.is-visible h2{
    animation-name: scal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}
@keyframes scal {
    0%   {transform: scale(0.5);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
  }

  .is-active.is-visible .left-btn{
    animation-name: left-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes left-right {
    0%   {transform: translateX(-80px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
  }

  .is-active.is-visible .right-btn{
    animation-name: right-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes right-left {
    0%   {transform: translateX(80px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
  }

.item1{
    background-image: linear-gradient(var(--over-lay-color),var(--over-lay-color)),url("/assets/business-team-with-tablet-pc-and-coffee-at-office-P5XPAG3.jpg");
    
}
.item2{
    background-image: linear-gradient(var(--over-lay-color),var(--over-lay-color)),url("/assets/slider-banner-1-1.jpg");
    
}
.hero-tag{
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    top:-30px;
    opacity: 0;
}
.hero-title{
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    transform: scale(0.5);
    opacity: 0;
}
.btn-box button{
    font-size: 16px;
    font-weight: 600;
    padding: 16px 48px;
}
.left-btn{
    position: relative;
    transform: translateX(-80px);
    opacity: 0;
}
.right-btn{
    border: 1px solid var(--secondary-color);
    position: relative;
    transform: translateX(80px);
    opacity: 0;
}
.right-btn:hover{
    background-color: var(--secondary-color);
}
/* -/ header */


/* main */

/* counter */
.counter-item{
    height: 150px;
}
.icon{
    width: 60px;
    height: 60px;
}
.icon i{
    font-size: 16px;
}
.tag-counter{
    font-size: 20px;
    font-weight: 600;
}
.number-counter{
    font-size: 2.9rem;
    font-weight: 800;
}
/* -/counter */

/* about us */

.section-tag{
    font-size: 20px;
}
.section-title{
    font-size: 2.7rem;
}
.section-discription{
    font-size: 16px;
}

.animated-bar{
    position: relative;
    width: 150px;
    height: 5px;
    background: var(--accent-color);
    border-radius: 2px;
}
.animated-bar::after{
    position: absolute;
    content: "";
    width: 6px;
    bottom: 0;
    top: 0;
    left: 1px;
    background: var(--secondary-color);
    animation-name: moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moving {
  0%   {left: 1px;}
  100% {left: 143px;}
  }

  .about-list{
    max-width: 600px;
  }
  .about-list li{
    font-size: 20px;
  }
  .icon-tag span{
    font-size: 20px;
    font-weight: 600;
  }
  .icon-tag a{
    font-size: 24px;
    font-weight: 700;
  }
  .about-img{
    min-height: 500px;
  }
/* -/about us */

/* why chooose us */
.card-cllass-title-1{
    font-size: 24px;
    font-weight: 700;
}
.cart-para-class1{
    font-size: 16px;
    font-weight: 400;
}
.choose-image{
    min-height: 350px;
}
.choosus-card{
    box-shadow: none;
    border: 0;
}
/* -/why chooose us */

/* -/main */







/* sm */
@media screen and (min-width: 577px){
    .position-sm-static{
        position: static !important;
    }
    .position-sm-relative{
        position: relative !important;
    }
    .position-sm-fixed{
        position: fixed !important;
    }
    .position-sm-absolute{
        position: absolute !important;
    }
    .position-sm-sticky{
        position: sticky !important;
    }

    .center-sm-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    html{
        font-size: 70%;
    }
    /* ---- */
 
    
}
/* md */
@media screen and (min-width: 769px){
    .position-md-static{
        position: static !important;
    }
    .position-md-relative{
        position: relative !important;
    }
    .position-md-fixed{
        position: fixed !important;
    }
    .position-md-absolute{
        position: absolute !important;
    }
    .position-md-sticky{
        position: sticky !important;
    }

    .center-md-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html{
        font-size: 77.5%;
    }
/* ---- */
  
   
}
/* lg */
@media screen and (min-width: 993px){
    .position-lg-static{
        position: static !important;
    }
    .position-lg-relative{
        position: relative !important;
    }
    .position-lg-fixed{
        position: fixed !important;
    }
    .position-lg-absolute{
        position: absolute !important;
    }
    .position-lg-sticky{
        position: sticky !important;
    }

    .center-lg-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html{
        font-size: 85%;
    }
    /* ------- */

    .top-incrase{
        transform: translateY(-45px);
    }
    #navbarSupportedContent{
        background-color: transparent;
    }
    .navbar-brand h1{
        color: var(--secondary-color);
    }
    .navbar .navbar-nav .nav-link{
        color: var(--secondary-color);
    }

    .nav-link.active::before{
        content: '';
        position: absolute;
        height: 3px;
        background-color: var(--accent-color);
        left: 0;
        right: 0;
        top: 57px;
    }
    .navbar .navbar-nav .nav-link:not(.active):before{
        content: '';
        position: absolute;
        height: 3px;
        background-color: var(--accent-color);
        left: 50%;
        right: 50%;
        top: 57px;
        transition-duration: 0.7s;
    }
    .navbar .navbar-nav .nav-link:not(.active):hover::before{
        right: 0;
        left: 0;
    }
    .dropdown-menu[data-bs-popper]{
        top: 141%;
    }

    #carosel-box{
        height:  calc(100vh - 35px);
        /* max-height:  calc(600px - 35px);
        min-height:  calc(400px - 35px); */

    }
    
    header nav{
        z-index: 100;
        background-color: transparent;
        border-bottom: 1px solid var(--theme-color);
        height: 80px;
        
    }

    .sticky {
  
        position: sticky;
        top: 0;
        
      }
      

    .nav-scroll-effect .navbar-brand h1{
        color: var(--accent-color);
    }
    header .nav-scroll-effect nav{
        background-color: var(--secondary-color);
        
    }
    .nav-scroll-effect .navbar .navbar-nav .nav-link:not(.active){
        color: var(--primary-color);
    }


    .carousel-section{
        top: 45px;
    }
    .carosel-box::after{
        content: '';
        position: absolute;
        background-color: var(--over-lay-color);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }

    .counter-box{
        transform: translateY(-100px);
    }
    .counter-item{
        width: 263px;
        
    }

}
/* xl */
@media screen and (min-width: 1200px){
    .position-xl-static{
        position: static !important;
    }
    .position-xl-relative{
        position: relative !important;
    }
    .position-xl-fixed{
        position: fixed !important;
    }
    .position-xl-absolute{
        position: absolute !important;
    }
    .position-xl-sticky{
        position: sticky !important;
    }

    .center-xl-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html{
        font-size: 92.5%;
    }
    /* ---- */
   


}
/* xxl */
@media screen and (min-width: 1401px){
    .position-xxl-static{
        position: static !important;
    }
    .position-xxl-relative{
        position: relative !important;
    }
    .position-xxl-fixed{
        position: fixed !important;
    }
    .position-xxl-absolute{
        position: absolute !important;
    }
    .position-xxl-sticky{
        position: sticky !important;
    }

    .center-xxl-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    html{
        font-size: 100%;
    }
}